{{- $googleTakeoutVersion := "v0.2.1" -}}

[".local/bin"]
    type = "archive"
    url = "https://github.com/its-me/google-takeout/archive/refs/tags/{{ $googleTakeoutVersion }}.tar.gz"
    stripComponents = 1
    executable = true
    exclude = ["*/.*", "*/CLAUDE.md", "*/LICENSE*", "*/README*"]
