[Unit]
Description=Run trashy cleanup every 6 hours
Documentation=https://github.com/oberblastmeister/trashy

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
